---
layout: default
title: Home
---
<!-- ========== ABOUT ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>
  <p>
  I am a first-year M.S. student in the Graduate School of Artificial Intelligence at
  <b>Pohang University of Science and Technology (POSTECH)</b>, advised by
  <a href="https://sites.google.com/view/sangwoomo/about" target="_blank">Sangwoo Mo</a>.
  My research interests lie in <b>Physical AI</b>, including Vision-Language-Action (VLA) models
  and multi-agent systems. I am interested in developing embodied agents capable of generalizing
  to unseen tasks and collaborating effectively to solve complex tasks.
  </p>
</div>

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h4>News</h4>

  {% for item in site.data.news.news %}
    <p class="news-item"><b class="news-date">{{ item.date }}</b>{{ item.text }}</p>
  {% endfor %}
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        {% include paper.html paper=paper %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        {% include paper.html paper=paper %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== EDUCATION ========== -->
<div class="docs-section" id="education">
  <h4>Education</h4>

  {% if site.data.main_info.cv != "" %}
  <p>Full CV in <a href="{{ site.data.main_info.cv | prepend: site.baseurl }}" target="_blank">PDF</a>.</p>
  {% endif %}

  {% for edu in site.data.education.education %}
    <div class="paper">
      <p class="title"><b>{{ edu.place }}<b style="float: right;">{{ edu.time }}</b></b></p>
      <p>{{ edu.degree }}</p>
      {% if edu.note %}<p>{{ edu.note }}</p>{% endif %}
    </div>
  {% endfor %}
</div>
